aspy.yaml==1.3.0
blinker==1.6.2
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
distlib==0.3.6
filelock==3.12.0
Flask==2.3.2
flask-googlemaps==0.4.1
ghp-import==2.1.0
googlemaps==4.10.0
htmlmin==0.1.12
identify==2.5.24
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
Markdown==3.3.7
MarkupSafe==2.1.2
mergedeep==1.3.4
mkdocs==1.4.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.3.0
nodeenv==1.8.0
packaging==23.1
platformdirs==3.5.0
pre-commit==1.21.0
Pygments==2.15.1
pymdown-extensions==10.0.1
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.31.0
six==1.16.0
toml==0.10.2
urllib3==2.0.2
virtualenv==20.23.0
watchdog==3.0.0
Werkzeug==2.3.4
